body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('./img/food-bg.png') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
}

.display-none {
  display: none;
}

.display-initial {
  display: initial !important;
}

/*****
HEADER
*****/

nav {
  height: 75px;
}

.navbar {
  background: #fff;
}

.navbar-nav {
  margin: 0 auto;
  width: 100%;
}

.center-div {
  margin: 0 auto;
}

.nav-link {
  display: inline;
}

.navbar-brand {
  color: #222 !important;
  width: 25%;
}

#sign-in, #logout {
  width: 25%;
}



#sign-in-btn, #logout-btn {
  width: 150px;
  height: 50px;
  background-color: #7FADA9;
  color: #fff;
  line-height: 50px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  float: right;
}

#sign-in-btn:hover {
  background-color: #588E95;
}

/*****
RECIPE PAGE 
*****/

#recipe-search-wrapper {
  display: flex;
  background: #588E95;
  width: 100%;
  height: 75px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px #222;
}

#recipe-search-wrapper form {
  margin: 0 auto;
}

#recipe-search-wrapper input {
  height: 50px;
  width: 300px;
}

#recipe-search-wrapper button {
  height: 50px;
  width: 100px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: -1px;
}

#recipe-search-form {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

#recipe-wrapper {
  display: flex;
  width: 90%;
  max-width: 1044px;
  min-height: 60vh;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: #fff;
  box-shadow: 1px 1px 5px #222;
}


/***** 
RECIPE CARDS 
*****/

.card-wrapper {
  padding: 10px;
}

.card-footer {
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  padding: .75rem .9rem;
}

.card-block {
  padding: 1rem;
}

.card-block h4 {
  font-size: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-title-tooltip {
  display: none;
  position: absolute;
  top: 275px;
  left: 40%;
  padding: 5px;
  background: #eee;
  box-shadow: 2px 2px 5px #000;
  max-width: 300px;
}

.recipe-description {
  padding: 10px 0px 8px;
  margin: 20px 0;
  text-align: center;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

.directions-btn {
  width: 100%;
}

.recipe-calories {
  float: left;
  width: 49%;
  padding: .2em .5em;
  border-right: 1px solid #777;
  background: #fff;
  color: #222;
}

.recipe-ingredients {
  padding: .2em .5em;
}

.flip-back {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.ingred-list {
  text-decoration: none;
  list-style: none;
  text-align: left;
}

.ingred-check {
  float: left;
}

.ingred-item {
  width: 240px;
  float: left;
  margin-left: 4px;
}

.ingred-display {
  margin-top: 20px;
  display: inline-block;
  height: 370px;
  overflow-y: scroll;
}

/* Recipe Card Flip */

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.front:hover, .back:hover {
  box-shadow: 0px 1px 10px #333;
  transition: 0.2s;
}

 .flip-container, .front, .back {
	width: 320px;
  height: 480px;
}  

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  border: 1px solid #999;
  background: #fff;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
  transform: rotateY(0deg);
  background: #fff;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
}

/*****
SHOPPING LIST
*****/

.shopping-list {
  width: 100%;
}

.edit-btn {
  width: 30px;
  height: 30px;
  font-size: 1em;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  color: #080;
  border-radius: 5px;
  float: left;
}

.edit-btn:hover {
  background-color: #080;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.delete-btn {
  width: 30px;
  height: 30px;
  font-size: 1em;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  color: #c41c22;
  border-radius: 5px;
  float: right;
}

.delete-btn:hover {
  background-color: #c41c22;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}